.text-center{
	margin-top: 20px;
	font-weight: bold;
	font-size: 40px;
}
#header-nav {
    background-color: #202020e3;
    border-radius: 0;
    border: 0;
}
.navbar-brand {
    padding-top: 15px;
    font-weight: bold;
}

.navbar-brand h1{
  margin-top: 0px;
  font-size: 1.5em;
  color: #ff7a2dce;
  font-family: 'Merriweather', serif;
  line-height: .75;  
}

#main{
	background-color:#4727bb;
	border-radius: 8px;
	padding: 15px;
	font-family: 'Roboto';
}

.text-center-sm{
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}

.navbar-collapse{
	background-color: #cf0b15;
}

#nav-list a {
    font-size: 1.2em;
    color: #ffe2c7;
}

#nav-list a:hover {
    background-color: #ffe2c7;
    color: #000000;
}

#common{
	float: right;
	position: relative;
	border: 2px solid black;
	margin-top: 0px;
	background: green;
	padding-left: 30px;
	padding-right: 30px;
}

#test{
	padding: 20px;

}

section {
    background-color: #c5c5c5e3;
    padding: 0px 15px 15px; 
    color: #202020e3;

}
#main-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
